<?xml version="1.0"?>
<config>
    <modules>
        <MageProfis_HrefLang>
            <version>1.0.0</version>
        </MageProfis_HrefLang>
    </modules>

    <global>
        <helpers>
            <mp_hreflang>
                <class>MageProfis_HrefLang_Helper</class>
            </mp_hreflang>
        </helpers>
        <models>
            <mp_hreflang>
                <class>MageProfis_HrefLang_Model</class>
            </mp_hreflang>
            <mp_hreflang_resource>
                <class>MageProfis_HrefLang_Model_Resource</class>
            </mp_hreflang_resource>
        </models>
        <resources>
            <mphreflang_setup>
                <setup>
                    <module>MageProfis_HrefLang</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </mphreflang_setup>
        </resources>
    </global>

    <adminhtml>
        <events>
            <adminhtml_cms_page_edit_tab_main_prepare_form>
                <observers>
                    <mp_hreflang>
                        <class>mp_hreflang/observer</class>
                        <method>addFieldToMainTab</method>
                    </mp_hreflang>
                </observers>
            </adminhtml_cms_page_edit_tab_main_prepare_form>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <mp_hreflang>
                        <class>mp_hreflang/observer</class>
                        <method>addFieldToGrid</method>
                    </mp_hreflang>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
        <translate>
            <modules>
                <mp_hreflang>
                    <files>
                        <default>MageProfis_HrefLang.csv</default>
                    </files>
                </mp_hreflang>
            </modules>
        </translate>
    </adminhtml>

    <frontend>
        <events>
            <!-- Add HrefLang tag to product view pages -->
            <controller_action_layout_render_before_catalog_product_view>
                <observers>
                    <mp_hreflang_add_tag_to_product_page>
                        <class>MageProfis_HrefLang_Model_Observer</class>
                        <method>addTagToProductPage</method>
                    </mp_hreflang_add_tag_to_product_page>
                </observers>
            </controller_action_layout_render_before_catalog_product_view>
            <!-- Add HrefLang tag to category view pages -->
            <controller_action_layout_render_before_catalog_category_view>
                <observers>
                    <mp_hreflang_add_tag_to_category_page>
                        <class>MageProfis_HrefLang_Model_Observer</class>
                        <method>addTagToCategoryPage</method>
                    </mp_hreflang_add_tag_to_category_page>
                </observers>
            </controller_action_layout_render_before_catalog_category_view>
            <!-- Add HrefLang tag to cms page -->
            <controller_action_layout_render_before_cms_page_view>
                <observers>
                    <mp_hreflang_cms_page_render>
                        <class>mp_hreflang/observer</class>
                        <method>onCmsPageView</method>
                    </mp_hreflang_cms_page_render>
                </observers>
            </controller_action_layout_render_before_cms_page_view>
        </events>
    </frontend>

    <default>
        <mp_hreflang>
            <general>
                <enabled>1</enabled>
            </general>
        </mp_hreflang>
    </default>
</config>